{% extends 'base.html' %}
{% import 'admin/static.html' as admin_static with context %}

{% block page_content %}
<div class="row">
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-heading">Admin</div>
      <div class="list-group">
        {%- for item in admin_view.admin.menu() %}
        {% if item.is_accessible() and item.is_visible() %}
        <a class="list-group-item {% if item.is_active(admin_view) -%}active{% endif -%}" href="{{ item.get_url() }}">{{ item.name }}</a>
        {% endif %}
        {% endfor -%}
        {%- for item in admin_view.admin.menu_links() %}
        {% if item.is_accessible() and item.is_visible() %}
        <a class="list-group-item {% if item.is_active(admin_view) -%}active{% endif -%}" href="{{ item.get_url() }}">{{ item.name }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-xs-10">
    {%- set render_ctx = h.resolve_ctx() -%}
    
    {%- block admin_content %}{% endblock -%}
  </div>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment(local_js=url_for('static', filename='lib/js/moment-with-locales.min.js')) }}
<script type="text/javascript" src="{{ admin_static.url(filename='vendor/select2/select2.min.js') }}"></script>
{% endblock %}
