{% extends "base.html" %}

{% block page_content %}
{% if slideshows %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Slideshows</th>
        <th></th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for slideshow in slideshows -%}
      <tr>
        <td><h4>{{ slideshow.title }}</h4></td>
        <td>
          {% if current_user == slideshow.user -%}
          <a type="button" class="btn btn-success btn-sm" href="{{ url_for('slideshow.present', id=slideshow.id) }}">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Present
          </a>
          {%- endif %}
          <a type="button" class="btn btn-primary btn-sm" href="{{ url_for('slideshow.listen', id=slideshow.id) }}">
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> View
          </a>
          <a type="button" class="btn btn-info btn-sm" href="{{ url_for('slideshow.view', id=slideshow.id) }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Read
          </a>
        </td>
        <td>{{ slideshow.user.username }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="text-center page-header">
  <h3><small>No slideshows found</small></h3>
</div>
{% endif %}
{% endblock %}
