body {
    padding-top: 70px;
}

.slideshow-panel .panel-title > a {
    vertical-align: -webkit-baseline-middle;
}

.slideshow-buttons {
    text-align: right;
}

.slideshow-row {
    padding-right: 1.5em;
}

.auto-bottom {
    margin-bottom: auto;
}

.presentation-item {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1px;
}

.presentation-item:last-child {
    border-bottom: none;
}

div.container > nav {
    text-align: center;
}

.presentation-info {
    text-align: right;
    padding-right: 1.5em;
}

/* hide buttons text depending on size */
/* displaying only the icons */
@media (max-width: 554px) {
    .slideshow-buttons > a.btn > span:nth-child(2) {
        display: none;
    }
}

@media (max-width: 413px) {
    .presentation-info > a.btn > span:nth-child(2) {
        display: none;
    }
}
