{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{% if slideshows %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
  {% for slideshow in slideshows -%}
  <div class="panel panel-default slideshow-panel">
    <div class="panel-heading" role="tab" id="heading_{{ slideshow.id }}">
      <div class="row slideshow-row">
        <div class="col-xs-2">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ slideshow.id }}" aria-expanded="false" aria-controls="collapse_{{ slideshow.id }}">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              {{ slideshow.title|e }}
            </a>
          </h4>
        </div>
        <div class="row slideshow-buttons">
          {% if current_user == slideshow.user -%}
          <a type="button" class="btn btn-danger btn-sm" href="{{ url_for('slides.remove', id=slideshow.id) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Delete</a>
          <a type="button" class="btn btn-success btn-sm" href="{{ url_for('slides.present', id=slideshow.id) }}">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Present
          </a>
          {%- endif %}
          <a type="button" class="btn btn-info btn-sm" href="{{ url_for('slides.view', id=slideshow.id) }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
          </a>
        </div>
      </div>
    </div>
    <div id="collapse_{{ slideshow.id }}" class="panel-collapse collapse {% if slideshow.id == expand%}in{% endif %}" role="tabpanel" aria-labelledby="heading_{{ slideshow.id }}">
      <div class="panel-body">
        <dl class="dl-horizontal text-overflow auto-bottom">
          <dt>Owner:</dt>
          <dd><span class="badge">{{ slideshow.user.username }}</span></dd>
          <dt>Description:</dt>
          <dd>{{ (slideshow.description if slideshow.description else "")|e }}</dd>
          {% if current_user == slideshow.user -%}
          <dt id="presentation-head">Presentations:</dt>
          <dd id="presentation-list">
            {% for presentation in slideshow.presentations %}
            <div class="row" role="presentations">
              <div class="col-xs-1 col-md-1">{{ presentation.slideshow_hash }}</div>
              <div class="col-xs-1 col-md-1 col-xs-offset-2 col-md-offset-1">
                <button type="button" role="stop" data-id="{{ presentation.id }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
              </div>
            </div>
            {% else %}
            <i>No presentations</i>
            {% endfor %}
          </dd>
          {%- endif %}
          {% if slideshow.created %}
          <dt>Added:</dt>
          <dd>{{ moment(slideshow.created).format('LLLL') }}</dd>
          {% endif %}
          {% if slideshow.last_presented %}
          <dt>Last presentation:</dt>
          <dd>{{ moment(slideshow.last_presented).fromNow(refresh=True) }}</dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
  {%- endfor %}
</div>
{% else %}
<div class="text-center page-header">
  <h3><small>No slideshows found.</small></h3>
  <h4><small>Upload new <a href="{{ url_for('slides.upload') }}" title="upload slideshow">one</a></small></h4>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super()|safe }}
{{ moment.include_moment(local_js=url_for('static', filename='lib/js/moment-with-locales.min.js')) }}

<script type="text/javascript" async defer>
  // add event to all buttons with role="button" between its attr
  $(':button[role="stop"]').click(function(event) {

    $.post("{{ url_for('slides.stop') }}", { id: $( event.target ).data().id },
      function () {
        list = $(event.target).parents("#presentation-list")
        $(event.target).parents("div.row").remove()

        // clean presentations div after its empty
        if (!list.children().length)
          list.html("<i>No presentations</i>")
      });
  });
</script>
{% endblock %}
