<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Revealer</title>

  <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">Revealer</a>
      </div>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" title="View slideshows">Slideshows</a>
        </li>
        <li><a href="{{ url_for('upload') }}" title="Upload new slideshow">Upload</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.login') }}" title="Sign out from the site">Sign out <span class="badge">{{ current_user.username }}</span></a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}" title="Sign in to the site">Sign in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>
  <script src="/static/lib/js/jquery-1.10.2.min.js"></script>
  <script src="/static/lib/js/bootstrap.min.js"></script>
</body>

</html>
