{% extends "bootstrap/base.html" %}

{% block title %}Revealer{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Revealer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('slideshow.index') }}" title="View slideshows"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Slideshows</a>
        </li>
        <li>
          <a href="{{ url_for('slideshow.upload') }}" title="Upload new slideshow"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}" title="Sign out from the site">Sign out <span class="badge">{{ current_user.username }}</span></a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}" title="Sign in to the site"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ bootstrap_find_resource('lib/css/bootstrap.css', cdn='static') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True) }}">
{% endblock %}

{% block scripts %}
<script src="{{ bootstrap_find_resource('lib/js/jquery-1.10.2.js', cdn='static') }}"></script>
<script src="{{ bootstrap_find_resource('lib/js/bootstrap.js', cdn='static') }}"></script>
{% endblock %}
