{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
      <!-- <form method="POST" action="{{ url_for('auth.login') }}"> -->
        {{ wtf.quick_form(form, form_type='horizontal') }}
      <!-- </form> -->
      <p class="text-center">
        <a href="{{ url_for('auth.register') }}">Need an account? Register Here</a>  
      </p>
    </div>
  </div>
{% endblock %}