{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Revealer{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Revealer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {% set index_url = url_for('slides.index') %}
        {% set upload_url = url_for('slides.upload') %}
        <li{% if request.path == index_url %} class="active"{% endif %}>
          <a href="{{ index_url }}" title="View slideshows">{{ utils.icon('blackboard') }} Slideshows</a>
        </li>
        <li{% if request.path == upload_url %} class="active"{% endif %}>
          <a href="{{ upload_url }}" title="Upload new slideshow">{{ utils.icon('upload') }} Upload</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="badge">{{ current_user.username }}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ url_for('auth.user', username=current_user.username) }}">{{ utils.icon('info-sign') }} Info</a>
            </li>
            <li>
              <a href="{{ url_for('auth.edit_profile') }}" title="Edit your account information">{{ utils.icon('pencil') }} Edit profile</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('admin.index') }}" title="Admin headquarters">{{ utils.icon('cog') }} Administrator</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}" title="Sign out from the site">Sign out</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}" title="Create account">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}" title="Sign in to the site">{{ utils.icon('user') }} Sign in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {{ utils.flashed_messages(dismissible=True, transform={
    'success': 'success',
    'info': 'info',
    'warning': 'warning',
    'danger': 'danger'
  })}}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ bootstrap_find_resource('lib/css/bootstrap.css', cdn='static') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True) }}">
{% endblock %}

{% block scripts %}
<script src="{{ bootstrap_find_resource('lib/js/jquery-2.2.1.js', cdn='static') }}"></script>
<script src="{{ bootstrap_find_resource('lib/js/bootstrap.js', cdn='static') }}"></script>
{% endblock %}
