<!-- Rename this file to '<your_presentation_name>.html'
'super()' entries load default values -->
{% extends "presentation.html" %}


<!-- Information about the presentation -->
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block author %}{% endblock %}

<!-- Reveal theme -->
{% block theme %}{{ super() }}{% endblock %}
<!-- Code highlight theme -->
{% block highlight %}{{ super() }}{% endblock %}
<!-- Transition type -->
{% block transition %}{{ super() }}{% endblock %}


{% block reveal %}
  <!-- Common elementes for each slide -->
{% endblock %}

{% block slides %}
  <section>
    <h1>Put your slides here</h1>
    <br>
    <p>
      Read "presentation.html" for more information
    </p>
  </section>
{% endblock %}


{% block stylesheet %}
  <!-- Load your custom styles -->
{% endblock %}

{% block scripts %}
  <!-- Load your custom scripts -->
{% endblock%}


{% block configuration %}
  {{ super() }}
  <!-- Set Reveal options -->
{% endblock %}

{% block dependencies %}
  {{ super() }}
  <!-- Add Reveal dependencies -->
{% endblock %}

