{% extends "base.html" %}
{% import "bootstrap/pagination.html" as paginate %}

{% block page_content %}
<div class="text-center page-header">
  <h1>
    Welcome to Revealer!
    <br>
    <small>
      {% if current_user.is_authenticated %}
      Hi {{ current_user.username }}
      <br>
      Upload a new <a href="{{ url_for('slides.upload') }}" title="Upload">slideshow</a>.
      {% else %}
      New user? <a class="btn btn-primary" href="{{ url_for('auth.register') }}" title="Create account">Register</a>
      {% endif %}
      <br>
      Or if you wish, you can checkout all the <a href="{{ url_for('slides.index') }}" title="Slideshows">presentations</a>.
    </small>
  </h1>
</div>
{% if presentations %}
<h2>Currently presenting</h2>
<ul class="list-group">
  {% for presentation in presentations %}
  {% set slideshow = presentation.slideshow %}
  {% set user = slideshow.user %}
  <li class="list-group-item presentation-item">
    <h3 class="list-group-item-heading">
      <div class="row">
        <div class="col-xs-8">
          <a href="{{ url_for('slides.index', expand=presentation.slideshow.id) }}">{{ slideshow.title }}</a>
        </div>
        <div class="row presentation-info">
          <a href="{{ url_for('slides.listen', hash=presentation.slideshow_hash) }}" title="Listen presentation" class="btn btn-default btn-xs">
            {{ utils.icon('blackboard') }} Listen
          </a>
          <small>{{ utils.icon('eye-open') }} {{ presentation.clients }}</small>
        </div>
      </div>
    </h3>
    <p class="list-group-item-text">
      {{ slideshow.description }}
    </p>
    <br>
    <small>
      by <a href="{{ url_for('auth.user', username=user.username) }}" >{{ user.name }}</a> started {{ moment(presentation.created).fromNow(refresh=True) }}
    </small>
  </li>
  {% endfor %}
</ul>
{{ paginate.render_pagination(pagination, 'index', size='sm', next=('&rarr;')|safe, prev=('&larr;')|safe) }}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment(local_js=url_for('static', filename='lib/js/moment-with-locales.min.js')) }}
{% endblock %}
