{% extends "base.html" %} 

{% block page_content %}
<div class="text-center page-header">
  <h1>
    Welcome to Revealer!
    <br>
    <small>
      {% if current_user.is_authenticated %}
      Hi {{ current_user.username }}
      <br>
      Upload a new <a href="{{ url_for('slideshow.upload') }}" title="Upload">slideshow</a>.
      {% else %}
      New user? <a class="btn btn-primary" href="{{ url_for('auth.register') }}" title="Create account">Register</a>
      {% endif %}
      <br>
      Or if you wish, you can checkout all the <a href="{{ url_for('slideshow.index') }}" title="Slideshows">presentations</a>.
    </small>
  </h1>
</div>
{% endblock %}
