{% extends "base.html" %} 

{% block page_content %}
<div class="text-center page-header">
  <h1>
    Welcome to Revealer!
    <br>
    <small>
      {% if current_user.is_authenticated %}
      Hi {{ current_user.username }}
      <br>
      Upload a new <a href="{{ url_for('slides.upload') }}" title="Upload">slideshow</a>.
      {% else %}
      New user? <a class="btn btn-primary" href="{{ url_for('auth.register') }}" title="Create account">Register</a>
      {% endif %}
      <br>
      Or if you wish, you can checkout all the <a href="{{ url_for('slides.index') }}" title="Slideshows">presentations</a>.
    </small>
  </h1>
</div>
{% if presentations %}
<h3>Currently presenting</h3>
<ul class="list-group">
  {% for presentation in presentations %}
  <li class="list-group-item presentation-item">
    <h4 class="list-group-item-heading">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-10">
          <a href="{{ url_for('slides.index', expand=presentation.slideshow.id) }}">{{ presentation.slideshow.title }}</a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="{{ url_for('slides.listen', hash=presentation.slideshow_hash) }}" title="Listen presentation" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Listen
          </a>
        </div>
      </div>
    </h4>
    <p class="list-group-item-text">
      {{ presentation.slideshow.description }}
    </p>
    <br>
    <small>
      by {{ presentation.slideshow.user.name }}.
    </small>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
